body {
    margin: auto;
    width: 850px;
    padding-top: 45px;
    font: 12px arial;
    background: antiquewhite;
}

svg {
    background: snow;
}

.overlay {
    fill: none;
    pointer-events: all;
}